.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
  @include desktop {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.team-title-heading {
  font-weight: 700;

  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);

  margin-bottom: 30px;
  @include desktop {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
  }

  &__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-top: 10px;
    margin-bottom: 16px;
  }

  &__team-foto {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    width: 100%;
    @include tablet {
      width: calc((100% - 30px) / 2);
    }
    @include desktop {
      width: calc((100% - 90px) / 4);
    }
  }

  &__paragraph {
    padding-top: 30px;

    padding-bottom: 24px;
    @include desktop {
      padding-bottom: 30px;
    }
  }

  &__soc-list {
    display: flex;
    justify-content: center;
  }

  &__soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }

  &__soc-item:last-child {
    margin-right: 0;
  }
  &__soc-link:hover {
    transform: rotate(360deg);
  }
  &__soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 250ms linear, background-color 250ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__soc-link:hover,
  &__soc-link:focus {
    background-color: #2196f3;
  }
}

.team-menu__soc-icon {
  fill: #afb1b8;
  transition: fill 250ms;
}
.team-menu__soc-link:hover .team-menu__soc-icon,
.team-menu__soc-link:focus .team-menu__soc-icon {
  fill: #ffffff;
}
